@model DuHoc.Models.NewsPost

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout_Admin";
}

<h1>Create</h1>

<h4>NewsPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePosted" class="control-label"></label>
                <input asp-for="TimePosted" class="form-control" />
                <span asp-validation-for="TimePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPosted" class="control-label"></label>
                <input asp-for="UserPosted" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="UserPosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input type="file" asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var createAtInput = document.querySelector("#TimePosted");
        if (createAtInput) {
            createAtInput.value = new Date().toISOString().slice(0, 19).replace("T", " ");
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
