@model DuHoc.Models.Country

<div class="container mt-5">
    <h1>@Model.Name</h1>
    <p class="text-muted">Châu lục: @Model.Continent</p>
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/@Model.Images" class="img-fluid" alt="Country Image" />
            <p></p>
            <p>@Html.Raw(Model.Introduce)</p>          
        </div>
        <div class="col-md-4">
            <partial name="~/Views/Shared/_PartialCountry.cshtml" />
        </div>
    </div>
</div>
