@model IEnumerable<DuHoc.Models.Appointment>

<style>
    ul {
        list-style: none;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Appointment_Create" class="btn btn-sm btn btn-primary">ĐẶT LỊCH TƯ VẤN NGAY</a>

    <partial name="~/Views/Shared/_PartialAppointment.cshtml" />
}
else
{
    <p>Bạn cần đăng nhập để sử dụng chức năng này!</p>
}

