@model IEnumerable<DuHoc.Models.ParentComment>

<div id="comments">
    @foreach (var comment in Model)
    {
        <div class="comment">
            <p>@comment.User.user_name</p>
            <p>@comment.Text</p>
            <p>@comment.Comment_Date.ToString("yyyy-MM-dd HH:mm")</p>
            
        </div>
    }
</div>
