@model IEnumerable<DuHoc.Models.Country>

<div class="text-center">
    <!-- Animated Banner -->
    <div class="animated-banner">
        <img src="~/images/banner_1.jpeg" alt="Banner" />
    </div>

    <p></p>

    <form asp-controller="Universities" asp-action="University" method="get">
        <div class="nav-item nav-search d-none d-lg-block">
            Tìm kiếm: <input type="text" id="navbar-search-input" name="SearchString" placeholder="Nhập từ khóa, trường học,..." />
            <input type="submit" value="Tìm kiếm" />
        </div>
    </form>

    <!-- List of Countries -->
    <div class="container">
        <h2 class="title">
            Lựa chọn điểm đến của bạn
        </h2>
        <p class="sub-title">
            Du học ở quốc gia khác?
        </p>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="row mt-5 row-cols-lg-3 g-lg-5 g-4 row-cols-md-3 row-cols-2 justify-content-center">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="place__item wow fadeInUp" data-wow-delay="0.2s">
                                <a href="@Url.Action("Country_Details", "Countries", new { id = item.Id })" target="_self" style="text-decoration: none" rel="follow noopener noreferrer">
                                    <div class="place__item-img c-img">
                                        <img src="~/images/@item.Images" width="300" height="188" class="attachment-full size-full" decoding="async" />
                                    </div>
                                    <div class="place__item-text">
                                        <div class="title">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </div>
                                        <div class="read-more">
                                            Khám phá ngay
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
