@model DuHoc.Models.University

<style>
    .img img {
        max-height: 200px;
        width: auto;
        border-radius: 8px;
        box-shadow: 0 0 7px #888;
</style>

<div class="container mt-5">
    <div class="img">
        <img src="~/images/@Model.Images" width="200" height="200" class="img-fluid" alt="News Image" />
    </div>
    
    <p></p>
    <h1>@Model.Name</h1>
    <p class="text-muted">Chi phí cơ bản: @Model.TuitionFee</p>
    <p class="text-muted">Create by: @Model.Location</p>
    
    <div class="row">
        <div class="col-md-8">           
            <p>@Html.Raw(Model.Decription)</p>
        </div>
    </div>
</div>