@model IEnumerable<DuHoc.Models.University>

<div class="container">
    <h2 class="title" >
        Các Trường Đại học bạn có thể theo dõi
    </h2>

    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="row mt-5 row-cols-lg-3 g-lg-5 g-4 row-cols-md-3 row-cols-2 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="place__item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="@Url.Action("University_Details", "Universities", new { id = item.University_Id })" target="_self" style="text-decoration: none" rel="follow noopener noreferrer">
                                <div class="place__item-img c-img">
                                    <img src="~/images/@item.Images" width="300" height="188"  decoding="async" />
                                </div>
                                <div class="place__item-text">
                                    <div class="title">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </div>
                                    <div class="title">
                                        Địa điểm: @Html.DisplayFor(modelItem => item.Location)
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
